@{
    ViewData["Title"] = "Вход";
}
<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <form method="post" action="Auth">
        <h3>Вход:</h3>


        <br />

        <table border="1" style="">
            <thead color="red">
                <tr>


                    <td>Логин:</td>
                    <td>Пароль:</td>





                </tr>
            </thead>
            <tbody>



                <tr style="text-decoration: none; color:black">
                  
                    <td><input required name="id"  /></td>
                    <td><input required name="password" /></td>


                </tr>




            </tbody>
        </table>
        <br />

        <button type="submit" value="">Войти</button>
        
    </form>
</body>
</html>